// Import page-specific CSS files here.
@import "home";
@import "show";


.cocktail-card {
  background-size: cover;
  background-position: center;
  height: 285px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  position: relative;

  h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: absolute;
    top: 10px;
  }
}

.index-view {
  position: relative;

  .left-img {
    position: sticky;
    top: 0;
    width: 300px;
    height: 300px;
    position: sticky;
    height: 500;
  }

  .right-txt {
    text-align: end;
    position: absolute;
    right: 0;
  }
  .add-btn {
    padding: 12px;
    color: white;
    border-radius:8px;
    text-decoration: none;
    background-color: black;
    padding: 12px;
  }

  .title-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
    font-weight: bold;
  }

  .body-font {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
  }
}
