// Import page-specific CSS files here.
@import "home";
@import "show";


.index-view {

  .left-side {
    height: 100vh;
    background-color: red;
    position: sticky;
    top: 0px;
    bottom: 0px;

    img {
      height: 100%;

    }

  }

  .right-side {
    background: rgb(255,252,242);
    background: radial-gradient(circle, rgba(255,252,242,1) 0%, rgba(243,241,253,1) 51%, rgba(252,238,241,1) 100%);
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px;

    .top-text {
      text-align: end;

      p {
        font-size: 36px;
        margin-bottom: 16px;
      }

    }

    .add-btn {
      width: 100%;
      border-radius:8px;
      background-color: #222125;
      margin: 0 auto;
      text-align: center;
      padding: 8px;
    }

    .cards {
      margin-top: 16px;
      margin-bottom: 16px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
      // column-gap: 50px;

      .cocktail-card {
        background-color: #222125;
        border: 1px #222125 solid;
        border-radius: 24px;

        .card-left {
          margin-right: 8px;
          margin-top: 16px;
          margin-bottom: 16px;
          margin-left: 16px;
          background-color: red;
          background-size: cover;
          background-position: center;
          width: 50%;
          color: white;
          border-radius: 8px;
          border: 1px white solid;
          padding: 16px;
          text-align: center;

        }

        .card-right {
          margin-left: 8px;
          margin-top: 16px;
          margin-bottom: 16px;
          margin-right: 16px;
          padding: 16px;
          background-color: #222125;
          height: 285px;
          width: 50%;
          border-radius: 8px;
          border: 1px white solid;
          position: relative;
          text-align: start;

          p {
            font-size: 14px;
          }

          .delete-icon {
            position: absolute;
            bottom: 16px;
            right: 16px;
            color: white;
            text-decoration: none;
            font-size: 24px;
          }

        }

      }

    }

  }

}
