// Import page-specific CSS files here.
@import "home";
@import "show";


.index-view {

  .left-side {
    height: 100vh;
    background-color: red;
    position: sticky;
    top: 0px;
    bottom: 0px;


    img {
      height: 100%;

    }

  }

  .right-side {
    background-color: white;
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px;

    .top-text {
      text-align: end;

      h2 {
        margin-bottom: 16px;
      }

    }

    .add-btn {
      width: 100%;
      border-radius:8px;
      background-color: black;
      margin: 0 auto;
      text-align: center;
      padding: 8px;
    }


    .cards {
      margin-top:32px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
      // column-gap: 50px;

      .cocktail-card {
        background-color: black;
        border: 1px black solid;
        border-radius: 24px;


        .card-left {
          margin-right: 8px;
          margin-top: 16px;
          margin-bottom: 16px;
          margin-left: 16px;
          background-color: red;
          background-size: cover;
          background-position: center;
          width: 50%;
          color: white;
          border-radius: 8px;
          border: 1px white solid;
          padding: 16px;
          text-align: center;


        }

        .card-right {
          margin-left: 8px;
          margin-top: 16px;
          margin-bottom: 16px;
          margin-right: 16px;
          padding: 16px;
          background-color: black;
          height: 285px;
          width: 50%;
          border-radius: 8px;
          border: 1px white solid;
          position: relative;

          .delete-icon {
            position: absolute;
            top: 16px;
            right: 16px;
          }


        }


      }


      h3 {

      }




    }



  }



}
