


.show-view {
  padding: 0px;

  .left-side {
    img {
      height: 400px;
      margin-right: 32px;
    }
  }


  .right-side {
    text-align: start;
    width: 700px;

    .text-title {
      border: 1px solid #4E2FFE;
      color: #4E2FFE;
      padding: 8px;

    }


    #description {

      margin-bottom: 32px;
      color: #222125;
      border-radius: 32px;
      font-size: 16px;
    }

    .fa-plus{
      display:inline-block;
      font-size: 30px;
      line-height: 40px;
      color:#4E2FFE;
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: bottom;
    }

  }





}
