


.show-view {
  padding: 0px;

  .left-side {
    img {
      height: 400px;
      margin-right: 32px;
    }
  }


  .right-side {
    text-align: start;
    width: 700px;

    .text-title {

      h3 {
        background-color: #4E2FFE;
        color: white;
        padding: 8px;
      }

    }


    #description {

      margin-bottom: 32px;
      color: #222125;
      border-radius: 32px;
      font-size: 16px;
    }
  }





}
