<div id=navbar>
<h4><%= link_to 'Cocktail libraryðŸ¸ðŸ¹', '/', class: "text-black", style: "text-decoration: none" %></h4>

<p><%= link_to 'Home', '/', class: "text-black", style: "text-decoration: none" %></p>
<p><%= link_to 'Cocktails', '/#cocktail-index', class: "text-black", style: "text-decoration: none" %></p>

</div>
