<div id=navbar>
<h4><%= link_to 'COCKTAIL LIBRARYðŸ¸ðŸ¹', '/', style: "color: #101115; text-decoration: none" %></h4>

<h5><%= link_to 'HOME', '/', style: "color: #101115; text-decoration: none" %></h5>
<h5><%= link_to 'COCKTAILS', '/#cocktail-index', style: "color: #101115; text-decoration: none" %></h5>

</div>
