<div id="navbar">
  <div id="navbar-title">
    <h3>COCKTAIL LIBRARY🍸🍹</h3>
  </div>
  <div style="display: flex; width: 40%;">
    <div class="navbar-search justify-content-between flex-grow-1" style="margin 0 auto;">
      <form class="form-inline d-flex">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
