<div class="container" style="width: 50%;">
  <h2>ADD INGREDIENTS</h2>


 <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
