

#navbar {
  background-color: #FFFDF1;
  display: flex;
  margin: 16px 80px;
  padding: 4px;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  z-index: 5;
  position: sticky;
  top: 0px;

  #navbar-title {
    text-align: start;
    width: 60%;

  }

  .navbar-search {
    text-align: end;
    margin: 8px;
  }

  h3 {
    color: #000000;
    font-weight: 700;
    margin: 0 auto;
  }
}
