
  #navbar {
    padding-top: 8px;
    text-align: start;
    z-index: 5;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 48px;
    background-color: #FFFDF1;
    h3 {
      color: black;
    }
  }
